#title{
     
     height: 700px;
}
.container-fluid{
     padding:5% 8% 7% ;
     
}
.navbar{
     height: 110px;
     background-color: white;

}
.a-tag{
    margin: 0% 3% 0% 40%;
}
.navbar-brand{
     color:palevioletred;
     font-size: 3.5rem;
     margin-left: 8%;
     
}
.head1{  
     color: rgb(77, 75, 75);
}
.para1{
     font-size: 15px;
     padding:15px 0px;
     line-height: 25px;
     font-weight: 600;
     color: rgb(80, 79, 79);
}
#more {display: none;}
#myBtn2{border: none;}
#more2{display: none;}
#myBtn{border: none;}
#feature{
     background-color: rgb(236, 236, 236);
     height: 1000px;
     padding-top: 27%;
}
.box{
     margin:10% 0% 0% 30%;
     padding:30px;
     width: 50em;
     height: 25em;
     background-image: linear-gradient(to right,rgb(202, 127, 202),rgb(103, 103, 184));
     color: white;
}
.bx_btn{
     background-color: rgb(248, 90, 195);
     border-radius: 25px;
    border:none;
    margin-bottom: 25px;
     height: 50px;
     width: 55%;
     font-size: 20px;
     color: white;
}
.pr{
     padding: 10px;
     line-height: 40px;
}
.down_btn{
     background-color: rgb(248, 90, 195);
     border-radius: 25px;
     border: none;
     height: 50px;
     width: 25%;
     font-size: 20px;
     color: white;
}
.btn{
     background-color: rgb(248, 90, 195);
     border-radius: 25px;
     margin-bottom: 10%;
     height: 50px;
     width: 55%;
     font-size: 20px;
     color: white;
}
.card{
     height: 30em;
     width: 80%;
}
.class-desk{
     padding-left: 20%;
}
.pricing-col{
     color: rgb(80, 79, 79);
}
#more{
     display: none;
}
.para2{
     margin-right: 50%;
     padding:15px 0px;
     line-height: 25px;
     font-weight: 600;
     color: rgb(97, 96, 96);
}
.head2{
     font-size: 2.5em;
     font-weight: 500;
     color: rgb(83, 83, 83);
     
}
.profile {
     margin-left: 80%;
     margin-top: -40%;
     height: 300px;
     float: right;
 }
#middle-feature{
     margin-top: 6%;
     height: 1000px;
     text-align: center;
 }
 .head3{
     font-size: 2.5em;
     font-weight: 500;
     color: rgb(83, 83, 83);
 }
.para3{
     line-height: 25px;
     font-weight: 400;
     color: rgb(114, 114, 114);

 }
.column-card{
     margin-top: 10%;
     background-image: linear-gradient(to right,rgb(216, 151, 216),rgb(131, 131, 212));
     margin-left: 60%;
     width: 100%;
     height: 20rem;
}
.image{
     margin: 10% 0% 0% 10%;
     padding-bottom: 5%;
     height:100px; 
     border: none;

}
#bottom-feature{
     text-align: center;
     background-color: rgb(236, 236, 236) ;
}
.feature-box{
     text-align: center;
}
.para4{
    
     color:rgb(114, 114, 114);
     ;
}
#bx{
     display: flex;
     justify-content: center;
     margin:100px;
 }
 #box{
     background-image: linear-gradient(to right,rgb(185, 125, 185),rgb(110, 110, 201));
     text-align: center;
     padding: 30px;
     max-width: 750px;
     height: 350px;
 }
 #heading{
     margin-top: 30px;
     font-size: 1.5rem;
     font-family: sans-serif;
     font-weight: 700;
     color: white;
 }
 #line{
     color: white;
     font-family: sans-serif;
     font-weight: 700;
     margin-top: 5px;
     padding: 2px;
 }
 #list{
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     justify-content: center;
     color: white;
     font-size: 14px;
     font-family: sans-serif;
     margin-right: 20px;
 }
 #price{
     color: white;
     font-family: sans-serif;
     margin-top: 5px;
     margin-bottom: 5px;
 }
 .button{
     font-size: larger;
     width: 250px;
     border-radius: 50px;
     padding: 10px;
     margin:20px;
     background-color: rgb(246, 80, 204);
     color: white;
     border-style: none;
 }

.foot{
     color:palevioletred;
     font-size: 2.5rem;
     margin:0% 0% 5% 8%;
}
.foot-column{
     
     margin-left: 8%;
}

 .Gr_head{
     padding: 100px 0% 20px 0%;
     color:rgb(160, 112, 160);
        
 }
 .gr_para
{
     line-height: 45px;
     color:rgb(116, 115, 115);
     padding-bottom: 5%;
}
.map-container{
    
     overflow:hidden;
     margin:-18% 0% 0% 50%;
     position:relative;
     height:0;
   }
   .map-container iframe{
     left:0;
     top:0;
     height:60%;
     width:93%;
     position:absolute;
     border-radius:6px ;
   }